<div id="app"    data-spy="scroll" data-target="navbar-site"   class="container-fluid">
  <nav class="navbar navbar-site  navbar-expand-lg  navbar-light bg-col">
    <a  class="">   <img  class="bgimg" src="{{siteNav.Logo}}"></a>
      <!-- <a class="navbar-brand text-light"  href="#">{{siteNav.siteName}}</a> -->
   
      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navbarNavDropdown" class="navbar-collapse collapse">
          -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item " *ngFor="let x of siteNav.LeftSideNav">
              <a class="text-light nav-link" 
              [routerLink]="x">{{x}}</a>
          </li>
          </ul>
          <ul class="navbar-nav">
              <!-- <li class="nav-item" *ngFor="let y of siteNav.RightSideNav">
                  <a class="text-light nav-link "   [routerLink]="y">{{y}}</a>
              </li> -->

              <li class="nav-item" >
                    <a class="text-light nav-link"
                    data-toggle="modal" href="#myM"
                          routerLink="SIgnUp">{{siteNav.RightSideNav[0]}}</a>
 
<!--  
                          <a class="text-light nav-link"
                          data-toggle="modal" href="#myM"
                          [routerLink]="['SIgnUp', {modal: 'true'}]">
                        
                            {{siteNav.RightSideNav[0]}}
                        </a>
                          
 
  -->
 
 
 
 
 
 
 
  
<!-- The Modal -->
<div class="modal fade" id="myM">
        <div class="modal-dialog">
          <div class="modal-content">
      
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Modal Heading</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
      
            <!-- Modal body -->
            <div class="modal-body">
              Modal body..
            </div>
      
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
      
          </div>
        </div>
      </div>
      
 
 
 
 
 
 
 
 
 
 
                </li>
 
 
                <li class="nav-item" >
                        <a class="text-light nav-link "   routerLink="SignIn">{{siteNav.RightSideNav[1]}}</a>
                    </li>
      
          </ul>
      <!-- </div> -->
  </nav>


</div>
 