<div class="container">
  <div class="btn btn-lg btn-group form-row d-flex justify-content-center">
    <form>
    <input type="text" class="text-sm form-control-inline" placeholder="Enter City,Area Or Hotel Name..">
    <input type="text" name="a" id="a" placeholder="CheckIn">
    <input type="text" name="b" id="b"  placeholder="CheckOut">
    <input type="text" name="c"  id="c" placeholder="Guest">

    <button class="ml-1 btn btn-danger"  (click)="gathotelListData(a)">Search</button>
  </form>
  </div>

  <div class="container content">
    <div class="row">
      <section class="col-sm-12">
        <div class="carousel" id="imgcaro" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active ">
              <img class="img-fluid" src="../assets/images/hotelfirst_banner.png">
              <div class="carousel-caption">
                  <span class="text-light "> <blockquote>--Allu Arjun</blockquote> </span>
              </div>
            </div>
            <div class="carousel-item">
              <img class="img-fluid" src="../assets/images/rbhotels70_offer.jpg">
            </div>
            <div class="carousel-item">
              <img class="img-fluid" src="../assets/images/hotelfirst_banner.png">
            </div>
            <div class="carousel-item">
              <img class="img-fluid" src="../assets/images/rbhotels70_offer.jpg">
            </div>
          </div>  

               <!-- Left and right controls -->
               <a class="carousel-control-prev"  href="#imgcaro" data-slide="prev">
                <button class="btn  text-center  pt-2 btn-danger ">
                    <span class="text-col  carousel-control-prev-icon"></span>
                    
                </button> 
                </a>
                <a class="carousel-control-next"   href="#imgcaro" data-slide="next">
                  <button class="btn  text-center  pt-2 btn-danger ">

                      <span class="carousel-control-next-icon"></span>
                      
                  </button>
                </a>
              

        </div>
  
   
  
      </section>
    </div>


  </div>


  <!-- <img src="../assets/images/hotelfirst_banner.png"> -->

  <div class="container mb-2 card bg-light">


    <div class="text-light  text-center mb-4 bg-danger ">
      Trending Destinations

    </div>
    <div class="container ml-2 ml-sm-0 text-center  row">

      <div class="card  mb-4 ml-4   bg-danger " *ngFor="let h of AvailableHotels">
        <section class="card ">
          <div class=" bg-danger card-header">
            <span class="text-light"> Place :</span>
            <span class="text-light"> {{h.place}}</span>
          </div>

          <div class="card-img">
            <img class="img-fluid" src="{{h.image}}">
          </div>
          <div class=" bg-light  card-footer">


            <button class="btn btn-sm  btn-padding-y-sm line-height-sm btn-danger">Available Hotel in {{h.place}} </button>
          </div>

        </section>
      </div>
    </div>

  </div>
</div>


<div class="container text-center text-light bg-dark  mt-4 mb-4">
  <h3>WE PROMISE TO DELIVER</h3>
<div class="row">


<div class="container card col-3 " *ngFor="let x of feedback">

  <div class="text-dark">
    

    <div class="card-header">
        <p>{{x.data}}</p>        
    </div>
    <div class="card-body">
      <p>
        {{x.Description}}
      </p>
    </div>
  </div>
</div>

</div>


</div>
