<p>
  sign-up works!
</p>


<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#serviccemodal">
    Sign Up
  </button>

 <div class="container">
  <div class="modal fade" id="serviccemodal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-content">
          <div class="modal-header">
            <h4>Sign Up Here</h4>
            <button class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <form>
              <div class="form-group">
                <label for="username">UserName : </label>
                <input type="text" id="username" class="form-control" > 
              </div>
              <div class="form-group">
                  <label for="username">Email : </label>
                  <input type="text" id="username" class="form-control" > 
                </div>
                <div class="form-group">
                    <label for="username">Paddword : </label>
                    <input type="text" id="username" class="form-control" > 
                  </div>
                  <div class="form-group">
                      <label for="username">Confirm Passwoed : </label>
                      <input type="text" id="username" class="form-control" > 
                    </div>
                    <div class="form-group">
                      <label>

                          <button  class="btn btn-danger">Sign Up</button>
                      </label>
                     
                    </div>        


            </form>
            <input type="text">
            <input type="text">
            <input type="text">
              <button type="submit">Sign Up</button>            
          </div>
          <div class="modal-footer">
            <span>Already Have An Account..?</span><button data-dismiss="modal">back</button>
          </div>
        </div>
      </div>
    </div>

   </div><!-- modal fade -->
</div>





<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Open modal
  </button>
  
  <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          Modal body..
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
  </div>
  



